<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name="com.wstxda.clippy.activity.copy.CopyLinkActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_copy_link"
            android:label="@string/copy_link"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.clippy.activity.copy.CopyLinkCleanerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_copy_link_cleaner"
            android:label="@string/copy_link_cleaner"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>
</manifest>